# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.ipch

.suo
*.db
*.vsidx
*.tlog
*.log
*.lastbuildstate
*.idb
*.pdb
*.recipe
*.ilk

SYN/x64/*
.vs/*